/*
REMS API

REMS API Services

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package remsclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)

// AuditLogAPIService AuditLogAPI service
type AuditLogAPIService service

type ApiApiAuditLogGetRequest struct {
	ctx           context.Context
	ApiService    *AuditLogAPIService
	xRemsApiKey   *string
	xRemsUserId   *string
	userid        *string
	applicationId *string
	after         *time.Time
	before        *time.Time
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiAuditLogGetRequest) XRemsApiKey(xRemsApiKey string) ApiApiAuditLogGetRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiAuditLogGetRequest) XRemsUserId(xRemsUserId string) ApiApiAuditLogGetRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

// Only show entries for this user
func (r ApiApiAuditLogGetRequest) Userid(userid string) ApiApiAuditLogGetRequest {
	r.userid = &userid
	return r
}

// Only show requests for &#x60;/api/application/&lt;application&gt;*&#x60; endpoints
func (r ApiApiAuditLogGetRequest) ApplicationId(applicationId string) ApiApiAuditLogGetRequest {
	r.applicationId = &applicationId
	return r
}

// Only show entries after this time
func (r ApiApiAuditLogGetRequest) After(after time.Time) ApiApiAuditLogGetRequest {
	r.after = &after
	return r
}

// Only show entries before this time
func (r ApiApiAuditLogGetRequest) Before(before time.Time) ApiApiAuditLogGetRequest {
	r.before = &before
	return r
}

func (r ApiApiAuditLogGetRequest) Execute() ([]AuditLogEntry, *http.Response, error) {
	return r.ApiService.ApiAuditLogGetExecute(r)
}

/*
ApiAuditLogGet Get audit log entries (roles: reporter)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiAuditLogGetRequest
*/
func (a *AuditLogAPIService) ApiAuditLogGet(ctx context.Context) ApiApiAuditLogGetRequest {
	return ApiApiAuditLogGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []AuditLogEntry
func (a *AuditLogAPIService) ApiAuditLogGetExecute(r ApiApiAuditLogGetRequest) ([]AuditLogEntry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AuditLogEntry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogAPIService.ApiAuditLogGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/audit-log"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userid", r.userid, "", "")
	}
	if r.applicationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "application-id", r.applicationId, "", "")
	}
	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "", "")
	}
	if r.before != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "before", r.before, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
