/*
REMS API

REMS API Services

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package remsclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// EntitlementsAPIService EntitlementsAPI service
type EntitlementsAPIService service

type ApiApiEntitlementsExportCsvGetRequest struct {
	ctx         context.Context
	ApiService  *EntitlementsAPIService
	xRemsApiKey *string
	xRemsUserId *string
	user        *string
	resource    *string
	expired     *bool
	separator   *string
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiEntitlementsExportCsvGetRequest) XRemsApiKey(xRemsApiKey string) ApiApiEntitlementsExportCsvGetRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiEntitlementsExportCsvGetRequest) XRemsUserId(xRemsUserId string) ApiApiEntitlementsExportCsvGetRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

// return entitlements for this user (optional), ignored if the user doesn&#39;t have appropriate privileges
func (r ApiApiEntitlementsExportCsvGetRequest) User(user string) ApiApiEntitlementsExportCsvGetRequest {
	r.user = &user
	return r
}

// return entitlements for this resource (optional)
func (r ApiApiEntitlementsExportCsvGetRequest) Resource(resource string) ApiApiEntitlementsExportCsvGetRequest {
	r.resource = &resource
	return r
}

// whether to include expired entitlements
func (r ApiApiEntitlementsExportCsvGetRequest) Expired(expired bool) ApiApiEntitlementsExportCsvGetRequest {
	r.expired = &expired
	return r
}

// which separator to use in returned csv (optional)
func (r ApiApiEntitlementsExportCsvGetRequest) Separator(separator string) ApiApiEntitlementsExportCsvGetRequest {
	r.separator = &separator
	return r
}

func (r ApiApiEntitlementsExportCsvGetRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.ApiEntitlementsExportCsvGetExecute(r)
}

/*
ApiEntitlementsExportCsvGet Return entitlements as CSV string. With proper privileges gets all entitlements, otherwise returns user's own entitlements. (roles: handler, reporter)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiEntitlementsExportCsvGetRequest
*/
func (a *EntitlementsAPIService) ApiEntitlementsExportCsvGet(ctx context.Context) ApiApiEntitlementsExportCsvGetRequest {
	return ApiApiEntitlementsExportCsvGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return string
func (a *EntitlementsAPIService) ApiEntitlementsExportCsvGetExecute(r ApiApiEntitlementsExportCsvGetRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EntitlementsAPIService.ApiEntitlementsExportCsvGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/entitlements/export-csv"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.user != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user", r.user, "", "")
	}
	if r.resource != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource", r.resource, "", "")
	}
	if r.expired != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expired", r.expired, "", "")
	}
	if r.separator != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "separator", r.separator, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/csv"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiEntitlementsGetRequest struct {
	ctx         context.Context
	ApiService  *EntitlementsAPIService
	xRemsApiKey *string
	xRemsUserId *string
	user        *string
	resource    *string
	expired     *bool
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiEntitlementsGetRequest) XRemsApiKey(xRemsApiKey string) ApiApiEntitlementsGetRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiEntitlementsGetRequest) XRemsUserId(xRemsUserId string) ApiApiEntitlementsGetRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

// return entitlements for this user (optional), ignored if the user doesn&#39;t have appropriate privileges
func (r ApiApiEntitlementsGetRequest) User(user string) ApiApiEntitlementsGetRequest {
	r.user = &user
	return r
}

// return entitlements for this resource (optional)
func (r ApiApiEntitlementsGetRequest) Resource(resource string) ApiApiEntitlementsGetRequest {
	r.resource = &resource
	return r
}

// whether to include expired entitlements
func (r ApiApiEntitlementsGetRequest) Expired(expired bool) ApiApiEntitlementsGetRequest {
	r.expired = &expired
	return r
}

func (r ApiApiEntitlementsGetRequest) Execute() ([]Entitlement, *http.Response, error) {
	return r.ApiService.ApiEntitlementsGetExecute(r)
}

/*
ApiEntitlementsGet With proper privileges gets all entitlements, otherwise returns user's own entitlements. (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiEntitlementsGetRequest
*/
func (a *EntitlementsAPIService) ApiEntitlementsGet(ctx context.Context) ApiApiEntitlementsGetRequest {
	return ApiApiEntitlementsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []Entitlement
func (a *EntitlementsAPIService) ApiEntitlementsGetExecute(r ApiApiEntitlementsGetRequest) ([]Entitlement, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Entitlement
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EntitlementsAPIService.ApiEntitlementsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/entitlements"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.user != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user", r.user, "", "")
	}
	if r.resource != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource", r.resource, "", "")
	}
	if r.expired != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expired", r.expired, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
