/*
REMS API

REMS API Services

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package remsclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ApplicationsAPIService ApplicationsAPI service
type ApplicationsAPIService service

type ApiApiApplicationsAcceptInvitationPostRequest struct {
	ctx             context.Context
	ApiService      *ApplicationsAPIService
	invitationToken *string
	xRemsApiKey     *string
	xRemsUserId     *string
}

// invitation token
func (r ApiApiApplicationsAcceptInvitationPostRequest) InvitationToken(invitationToken string) ApiApiApplicationsAcceptInvitationPostRequest {
	r.invitationToken = &invitationToken
	return r
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsAcceptInvitationPostRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsAcceptInvitationPostRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsAcceptInvitationPostRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsAcceptInvitationPostRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsAcceptInvitationPostRequest) Execute() (*AcceptInvitationResult, *http.Response, error) {
	return r.ApiService.ApiApplicationsAcceptInvitationPostExecute(r)
}

/*
ApiApplicationsAcceptInvitationPost Accept an invitation by token (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiApplicationsAcceptInvitationPostRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsAcceptInvitationPost(ctx context.Context) ApiApiApplicationsAcceptInvitationPostRequest {
	return ApiApiApplicationsAcceptInvitationPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AcceptInvitationResult
func (a *ApplicationsAPIService) ApiApplicationsAcceptInvitationPostExecute(r ApiApiApplicationsAcceptInvitationPostRequest) (*AcceptInvitationResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AcceptInvitationResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsAcceptInvitationPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/accept-invitation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.invitationToken == nil {
		return localVarReturnValue, nil, reportError("invitationToken is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "invitation-token", r.invitationToken, "", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiApplicationsAcceptLicensesPostRequest struct {
	ctx                   context.Context
	ApiService            *ApplicationsAPIService
	acceptLicensesCommand *AcceptLicensesCommand
	xRemsApiKey           *string
	xRemsUserId           *string
}

func (r ApiApiApplicationsAcceptLicensesPostRequest) AcceptLicensesCommand(acceptLicensesCommand AcceptLicensesCommand) ApiApiApplicationsAcceptLicensesPostRequest {
	r.acceptLicensesCommand = &acceptLicensesCommand
	return r
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsAcceptLicensesPostRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsAcceptLicensesPostRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsAcceptLicensesPostRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsAcceptLicensesPostRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsAcceptLicensesPostRequest) Execute() (*SuccessResponse, *http.Response, error) {
	return r.ApiService.ApiApplicationsAcceptLicensesPostExecute(r)
}

/*
ApiApplicationsAcceptLicensesPost Submit a `accept-licenses` command for an application.  (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiApplicationsAcceptLicensesPostRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsAcceptLicensesPost(ctx context.Context) ApiApiApplicationsAcceptLicensesPostRequest {
	return ApiApiApplicationsAcceptLicensesPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SuccessResponse
func (a *ApplicationsAPIService) ApiApplicationsAcceptLicensesPostExecute(r ApiApiApplicationsAcceptLicensesPostRequest) (*SuccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SuccessResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsAcceptLicensesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/accept-licenses"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.acceptLicensesCommand == nil {
		return localVarReturnValue, nil, reportError("acceptLicensesCommand is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	// body params
	localVarPostBody = r.acceptLicensesCommand
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiApplicationsAddAttachmentPostRequest struct {
	ctx           context.Context
	ApiService    *ApplicationsAPIService
	applicationId *int64
	xRemsApiKey   *string
	xRemsUserId   *string
}

// application id
func (r ApiApiApplicationsAddAttachmentPostRequest) ApplicationId(applicationId int64) ApiApiApplicationsAddAttachmentPostRequest {
	r.applicationId = &applicationId
	return r
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsAddAttachmentPostRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsAddAttachmentPostRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsAddAttachmentPostRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsAddAttachmentPostRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsAddAttachmentPostRequest) Execute() (*SaveAttachmentResponse, *http.Response, error) {
	return r.ApiService.ApiApplicationsAddAttachmentPostExecute(r)
}

/*
ApiApplicationsAddAttachmentPost Add an attachment file related to an application (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiApplicationsAddAttachmentPostRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsAddAttachmentPost(ctx context.Context) ApiApiApplicationsAddAttachmentPostRequest {
	return ApiApiApplicationsAddAttachmentPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SaveAttachmentResponse
func (a *ApplicationsAPIService) ApiApplicationsAddAttachmentPostExecute(r ApiApiApplicationsAddAttachmentPostRequest) (*SaveAttachmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SaveAttachmentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsAddAttachmentPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/add-attachment"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.applicationId == nil {
		return localVarReturnValue, nil, reportError("applicationId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "application-id", r.applicationId, "", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiApplicationsAddLicensesPostRequest struct {
	ctx                context.Context
	ApiService         *ApplicationsAPIService
	addLicensesCommand *AddLicensesCommand
	xRemsApiKey        *string
	xRemsUserId        *string
}

func (r ApiApiApplicationsAddLicensesPostRequest) AddLicensesCommand(addLicensesCommand AddLicensesCommand) ApiApiApplicationsAddLicensesPostRequest {
	r.addLicensesCommand = &addLicensesCommand
	return r
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsAddLicensesPostRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsAddLicensesPostRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsAddLicensesPostRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsAddLicensesPostRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsAddLicensesPostRequest) Execute() (*SuccessResponse, *http.Response, error) {
	return r.ApiService.ApiApplicationsAddLicensesPostExecute(r)
}

/*
ApiApplicationsAddLicensesPost Submit a `add-licenses` command for an application.  (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiApplicationsAddLicensesPostRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsAddLicensesPost(ctx context.Context) ApiApiApplicationsAddLicensesPostRequest {
	return ApiApiApplicationsAddLicensesPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SuccessResponse
func (a *ApplicationsAPIService) ApiApplicationsAddLicensesPostExecute(r ApiApiApplicationsAddLicensesPostRequest) (*SuccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SuccessResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsAddLicensesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/add-licenses"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.addLicensesCommand == nil {
		return localVarReturnValue, nil, reportError("addLicensesCommand is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	// body params
	localVarPostBody = r.addLicensesCommand
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiApplicationsAddMemberPostRequest struct {
	ctx              context.Context
	ApiService       *ApplicationsAPIService
	addMemberCommand *AddMemberCommand
	xRemsApiKey      *string
	xRemsUserId      *string
}

func (r ApiApiApplicationsAddMemberPostRequest) AddMemberCommand(addMemberCommand AddMemberCommand) ApiApiApplicationsAddMemberPostRequest {
	r.addMemberCommand = &addMemberCommand
	return r
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsAddMemberPostRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsAddMemberPostRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsAddMemberPostRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsAddMemberPostRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsAddMemberPostRequest) Execute() (*SuccessResponse, *http.Response, error) {
	return r.ApiService.ApiApplicationsAddMemberPostExecute(r)
}

/*
ApiApplicationsAddMemberPost Submit a `add-member` command for an application.  (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiApplicationsAddMemberPostRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsAddMemberPost(ctx context.Context) ApiApiApplicationsAddMemberPostRequest {
	return ApiApiApplicationsAddMemberPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SuccessResponse
func (a *ApplicationsAPIService) ApiApplicationsAddMemberPostExecute(r ApiApiApplicationsAddMemberPostRequest) (*SuccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SuccessResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsAddMemberPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/add-member"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.addMemberCommand == nil {
		return localVarReturnValue, nil, reportError("addMemberCommand is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	// body params
	localVarPostBody = r.addMemberCommand
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiApplicationsApplicationIdAttachmentsGetRequest struct {
	ctx           context.Context
	ApiService    *ApplicationsAPIService
	applicationId int64
	xRemsApiKey   *string
	xRemsUserId   *string
	all           *bool
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsApplicationIdAttachmentsGetRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsApplicationIdAttachmentsGetRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsApplicationIdAttachmentsGetRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsApplicationIdAttachmentsGetRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

// Defaults to true. If set to false, the zip will only contain latest application attachments: no previous versions of attachments, and no event attachments.
func (r ApiApiApplicationsApplicationIdAttachmentsGetRequest) All(all bool) ApiApiApplicationsApplicationIdAttachmentsGetRequest {
	r.all = &all
	return r
}

func (r ApiApiApplicationsApplicationIdAttachmentsGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiApplicationsApplicationIdAttachmentsGetExecute(r)
}

/*
ApiApplicationsApplicationIdAttachmentsGet Get attachments for an application as a zip file (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationId application id
	@return ApiApiApplicationsApplicationIdAttachmentsGetRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsApplicationIdAttachmentsGet(ctx context.Context, applicationId int64) ApiApiApplicationsApplicationIdAttachmentsGetRequest {
	return ApiApiApplicationsApplicationIdAttachmentsGetRequest{
		ApiService:    a,
		ctx:           ctx,
		applicationId: applicationId,
	}
}

// Execute executes the request
func (a *ApplicationsAPIService) ApiApplicationsApplicationIdAttachmentsGetExecute(r ApiApiApplicationsApplicationIdAttachmentsGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsApplicationIdAttachmentsGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/{application-id}/attachments"
	localVarPath = strings.Replace(localVarPath, "{"+"application-id"+"}", url.PathEscape(parameterValueToString(r.applicationId, "applicationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.all != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "all", r.all, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiApplicationsApplicationIdGetRequest struct {
	ctx           context.Context
	ApiService    *ApplicationsAPIService
	applicationId int64
	xRemsApiKey   *string
	xRemsUserId   *string
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsApplicationIdGetRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsApplicationIdGetRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsApplicationIdGetRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsApplicationIdGetRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsApplicationIdGetRequest) Execute() (*Application, *http.Response, error) {
	return r.ApiService.ApiApplicationsApplicationIdGetExecute(r)
}

/*
ApiApplicationsApplicationIdGet Get application by `application-id`. Application is customized for the requesting user (e.g. event visibility, permissions, etc). (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationId application id
	@return ApiApiApplicationsApplicationIdGetRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsApplicationIdGet(ctx context.Context, applicationId int64) ApiApiApplicationsApplicationIdGetRequest {
	return ApiApiApplicationsApplicationIdGetRequest{
		ApiService:    a,
		ctx:           ctx,
		applicationId: applicationId,
	}
}

// Execute executes the request
//
//	@return Application
func (a *ApplicationsAPIService) ApiApplicationsApplicationIdGetExecute(r ApiApiApplicationsApplicationIdGetRequest) (*Application, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Application
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsApplicationIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/{application-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"application-id"+"}", url.PathEscape(parameterValueToString(r.applicationId, "applicationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiApplicationsApplicationIdLicenseAttachmentLicenseIdLanguageGetRequest struct {
	ctx           context.Context
	ApiService    *ApplicationsAPIService
	applicationId int64
	licenseId     int64
	language      string
	xRemsApiKey   *string
	xRemsUserId   *string
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsApplicationIdLicenseAttachmentLicenseIdLanguageGetRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsApplicationIdLicenseAttachmentLicenseIdLanguageGetRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsApplicationIdLicenseAttachmentLicenseIdLanguageGetRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsApplicationIdLicenseAttachmentLicenseIdLanguageGetRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsApplicationIdLicenseAttachmentLicenseIdLanguageGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiApplicationsApplicationIdLicenseAttachmentLicenseIdLanguageGetExecute(r)
}

/*
ApiApplicationsApplicationIdLicenseAttachmentLicenseIdLanguageGet Get file associated with licence of type attachment associated with application. (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationId application id
	@param licenseId license id
	@param language language code
	@return ApiApiApplicationsApplicationIdLicenseAttachmentLicenseIdLanguageGetRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsApplicationIdLicenseAttachmentLicenseIdLanguageGet(ctx context.Context, applicationId int64, licenseId int64, language string) ApiApiApplicationsApplicationIdLicenseAttachmentLicenseIdLanguageGetRequest {
	return ApiApiApplicationsApplicationIdLicenseAttachmentLicenseIdLanguageGetRequest{
		ApiService:    a,
		ctx:           ctx,
		applicationId: applicationId,
		licenseId:     licenseId,
		language:      language,
	}
}

// Execute executes the request
func (a *ApplicationsAPIService) ApiApplicationsApplicationIdLicenseAttachmentLicenseIdLanguageGetExecute(r ApiApiApplicationsApplicationIdLicenseAttachmentLicenseIdLanguageGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsApplicationIdLicenseAttachmentLicenseIdLanguageGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/{application-id}/license-attachment/{license-id}/{language}"
	localVarPath = strings.Replace(localVarPath, "{"+"application-id"+"}", url.PathEscape(parameterValueToString(r.applicationId, "applicationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"license-id"+"}", url.PathEscape(parameterValueToString(r.licenseId, "licenseId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"language"+"}", url.PathEscape(parameterValueToString(r.language, "language")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiApplicationsApplicationIdPdfGetRequest struct {
	ctx           context.Context
	ApiService    *ApplicationsAPIService
	applicationId int64
	xRemsApiKey   *string
	xRemsUserId   *string
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsApplicationIdPdfGetRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsApplicationIdPdfGetRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsApplicationIdPdfGetRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsApplicationIdPdfGetRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsApplicationIdPdfGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiApplicationsApplicationIdPdfGetExecute(r)
}

/*
ApiApplicationsApplicationIdPdfGet Get a pdf version of an application (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationId application id
	@return ApiApiApplicationsApplicationIdPdfGetRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsApplicationIdPdfGet(ctx context.Context, applicationId int64) ApiApiApplicationsApplicationIdPdfGetRequest {
	return ApiApiApplicationsApplicationIdPdfGetRequest{
		ApiService:    a,
		ctx:           ctx,
		applicationId: applicationId,
	}
}

// Execute executes the request
func (a *ApplicationsAPIService) ApiApplicationsApplicationIdPdfGetExecute(r ApiApiApplicationsApplicationIdPdfGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsApplicationIdPdfGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/{application-id}/pdf"
	localVarPath = strings.Replace(localVarPath, "{"+"application-id"+"}", url.PathEscape(parameterValueToString(r.applicationId, "applicationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiApplicationsApplicationIdRawGetRequest struct {
	ctx           context.Context
	ApiService    *ApplicationsAPIService
	applicationId int64
	xRemsApiKey   *string
	xRemsUserId   *string
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsApplicationIdRawGetRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsApplicationIdRawGetRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsApplicationIdRawGetRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsApplicationIdRawGetRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsApplicationIdRawGetRequest) Execute() (*ApplicationRaw, *http.Response, error) {
	return r.ApiService.ApiApplicationsApplicationIdRawGetExecute(r)
}

/*
ApiApplicationsApplicationIdRawGet Get application by `application-id`. Unlike the /api/applications/:application-id endpoint, the data here isn't customized for the requesting user (see schema for details). Suitable for integrations and exporting applications. (roles: owner, reporter)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param applicationId application id
	@return ApiApiApplicationsApplicationIdRawGetRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsApplicationIdRawGet(ctx context.Context, applicationId int64) ApiApiApplicationsApplicationIdRawGetRequest {
	return ApiApiApplicationsApplicationIdRawGetRequest{
		ApiService:    a,
		ctx:           ctx,
		applicationId: applicationId,
	}
}

// Execute executes the request
//
//	@return ApplicationRaw
func (a *ApplicationsAPIService) ApiApplicationsApplicationIdRawGetExecute(r ApiApiApplicationsApplicationIdRawGetRequest) (*ApplicationRaw, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ApplicationRaw
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsApplicationIdRawGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/{application-id}/raw"
	localVarPath = strings.Replace(localVarPath, "{"+"application-id"+"}", url.PathEscape(parameterValueToString(r.applicationId, "applicationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiApplicationsApprovePostRequest struct {
	ctx            context.Context
	ApiService     *ApplicationsAPIService
	approveCommand *ApproveCommand
	xRemsApiKey    *string
	xRemsUserId    *string
}

func (r ApiApiApplicationsApprovePostRequest) ApproveCommand(approveCommand ApproveCommand) ApiApiApplicationsApprovePostRequest {
	r.approveCommand = &approveCommand
	return r
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsApprovePostRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsApprovePostRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsApprovePostRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsApprovePostRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsApprovePostRequest) Execute() (*SuccessResponse, *http.Response, error) {
	return r.ApiService.ApiApplicationsApprovePostExecute(r)
}

/*
ApiApplicationsApprovePost Submit a `approve` command for an application.  (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiApplicationsApprovePostRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsApprovePost(ctx context.Context) ApiApiApplicationsApprovePostRequest {
	return ApiApiApplicationsApprovePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SuccessResponse
func (a *ApplicationsAPIService) ApiApplicationsApprovePostExecute(r ApiApiApplicationsApprovePostRequest) (*SuccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SuccessResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsApprovePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/approve"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.approveCommand == nil {
		return localVarReturnValue, nil, reportError("approveCommand is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	// body params
	localVarPostBody = r.approveCommand
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiApplicationsAssignExternalIdPostRequest struct {
	ctx                     context.Context
	ApiService              *ApplicationsAPIService
	assignExternalIdCommand *AssignExternalIdCommand
	xRemsApiKey             *string
	xRemsUserId             *string
}

func (r ApiApiApplicationsAssignExternalIdPostRequest) AssignExternalIdCommand(assignExternalIdCommand AssignExternalIdCommand) ApiApiApplicationsAssignExternalIdPostRequest {
	r.assignExternalIdCommand = &assignExternalIdCommand
	return r
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsAssignExternalIdPostRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsAssignExternalIdPostRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsAssignExternalIdPostRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsAssignExternalIdPostRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsAssignExternalIdPostRequest) Execute() (*SuccessResponse, *http.Response, error) {
	return r.ApiService.ApiApplicationsAssignExternalIdPostExecute(r)
}

/*
ApiApplicationsAssignExternalIdPost Submit a `assign-external-id` command for an application.  (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiApplicationsAssignExternalIdPostRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsAssignExternalIdPost(ctx context.Context) ApiApiApplicationsAssignExternalIdPostRequest {
	return ApiApiApplicationsAssignExternalIdPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SuccessResponse
func (a *ApplicationsAPIService) ApiApplicationsAssignExternalIdPostExecute(r ApiApiApplicationsAssignExternalIdPostRequest) (*SuccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SuccessResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsAssignExternalIdPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/assign-external-id"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.assignExternalIdCommand == nil {
		return localVarReturnValue, nil, reportError("assignExternalIdCommand is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	// body params
	localVarPostBody = r.assignExternalIdCommand
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiApplicationsAttachmentAttachmentIdGetRequest struct {
	ctx          context.Context
	ApiService   *ApplicationsAPIService
	attachmentId int64
	xRemsApiKey  *string
	xRemsUserId  *string
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsAttachmentAttachmentIdGetRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsAttachmentAttachmentIdGetRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsAttachmentAttachmentIdGetRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsAttachmentAttachmentIdGetRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsAttachmentAttachmentIdGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiApplicationsAttachmentAttachmentIdGetExecute(r)
}

/*
ApiApplicationsAttachmentAttachmentIdGet Get an attachment (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param attachmentId attachment id
	@return ApiApiApplicationsAttachmentAttachmentIdGetRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsAttachmentAttachmentIdGet(ctx context.Context, attachmentId int64) ApiApiApplicationsAttachmentAttachmentIdGetRequest {
	return ApiApiApplicationsAttachmentAttachmentIdGetRequest{
		ApiService:   a,
		ctx:          ctx,
		attachmentId: attachmentId,
	}
}

// Execute executes the request
func (a *ApplicationsAPIService) ApiApplicationsAttachmentAttachmentIdGetExecute(r ApiApiApplicationsAttachmentAttachmentIdGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsAttachmentAttachmentIdGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/attachment/{attachment-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"attachment-id"+"}", url.PathEscape(parameterValueToString(r.attachmentId, "attachmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiApplicationsChangeApplicantPostRequest struct {
	ctx                    context.Context
	ApiService             *ApplicationsAPIService
	changeApplicantCommand *ChangeApplicantCommand
	xRemsApiKey            *string
	xRemsUserId            *string
}

func (r ApiApiApplicationsChangeApplicantPostRequest) ChangeApplicantCommand(changeApplicantCommand ChangeApplicantCommand) ApiApiApplicationsChangeApplicantPostRequest {
	r.changeApplicantCommand = &changeApplicantCommand
	return r
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsChangeApplicantPostRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsChangeApplicantPostRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsChangeApplicantPostRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsChangeApplicantPostRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsChangeApplicantPostRequest) Execute() (*SuccessResponse, *http.Response, error) {
	return r.ApiService.ApiApplicationsChangeApplicantPostExecute(r)
}

/*
ApiApplicationsChangeApplicantPost Submit a `change-applicant` command for an application. Promote member of application to applicant. Previous applicant becomes a member. (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiApplicationsChangeApplicantPostRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsChangeApplicantPost(ctx context.Context) ApiApiApplicationsChangeApplicantPostRequest {
	return ApiApiApplicationsChangeApplicantPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SuccessResponse
func (a *ApplicationsAPIService) ApiApplicationsChangeApplicantPostExecute(r ApiApiApplicationsChangeApplicantPostRequest) (*SuccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SuccessResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsChangeApplicantPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/change-applicant"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.changeApplicantCommand == nil {
		return localVarReturnValue, nil, reportError("changeApplicantCommand is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	// body params
	localVarPostBody = r.changeApplicantCommand
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiApplicationsChangeProcessingStatePostRequest struct {
	ctx                          context.Context
	ApiService                   *ApplicationsAPIService
	changeProcessingStateCommand *ChangeProcessingStateCommand
	xRemsApiKey                  *string
	xRemsUserId                  *string
}

func (r ApiApiApplicationsChangeProcessingStatePostRequest) ChangeProcessingStateCommand(changeProcessingStateCommand ChangeProcessingStateCommand) ApiApiApplicationsChangeProcessingStatePostRequest {
	r.changeProcessingStateCommand = &changeProcessingStateCommand
	return r
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsChangeProcessingStatePostRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsChangeProcessingStatePostRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsChangeProcessingStatePostRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsChangeProcessingStatePostRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsChangeProcessingStatePostRequest) Execute() (*SuccessResponse, *http.Response, error) {
	return r.ApiService.ApiApplicationsChangeProcessingStatePostExecute(r)
}

/*
ApiApplicationsChangeProcessingStatePost Submit a `change-processing-state` command for an application.  (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiApplicationsChangeProcessingStatePostRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsChangeProcessingStatePost(ctx context.Context) ApiApiApplicationsChangeProcessingStatePostRequest {
	return ApiApiApplicationsChangeProcessingStatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SuccessResponse
func (a *ApplicationsAPIService) ApiApplicationsChangeProcessingStatePostExecute(r ApiApiApplicationsChangeProcessingStatePostRequest) (*SuccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SuccessResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsChangeProcessingStatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/change-processing-state"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.changeProcessingStateCommand == nil {
		return localVarReturnValue, nil, reportError("changeProcessingStateCommand is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	// body params
	localVarPostBody = r.changeProcessingStateCommand
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiApplicationsChangeResourcesPostRequest struct {
	ctx                    context.Context
	ApiService             *ApplicationsAPIService
	changeResourcesCommand *ChangeResourcesCommand
	xRemsApiKey            *string
	xRemsUserId            *string
}

func (r ApiApiApplicationsChangeResourcesPostRequest) ChangeResourcesCommand(changeResourcesCommand ChangeResourcesCommand) ApiApiApplicationsChangeResourcesPostRequest {
	r.changeResourcesCommand = &changeResourcesCommand
	return r
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsChangeResourcesPostRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsChangeResourcesPostRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsChangeResourcesPostRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsChangeResourcesPostRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsChangeResourcesPostRequest) Execute() (*SuccessResponse, *http.Response, error) {
	return r.ApiService.ApiApplicationsChangeResourcesPostExecute(r)
}

/*
ApiApplicationsChangeResourcesPost Submit a `change-resources` command for an application.  (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiApplicationsChangeResourcesPostRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsChangeResourcesPost(ctx context.Context) ApiApiApplicationsChangeResourcesPostRequest {
	return ApiApiApplicationsChangeResourcesPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SuccessResponse
func (a *ApplicationsAPIService) ApiApplicationsChangeResourcesPostExecute(r ApiApiApplicationsChangeResourcesPostRequest) (*SuccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SuccessResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsChangeResourcesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/change-resources"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.changeResourcesCommand == nil {
		return localVarReturnValue, nil, reportError("changeResourcesCommand is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	// body params
	localVarPostBody = r.changeResourcesCommand
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiApplicationsClosePostRequest struct {
	ctx          context.Context
	ApiService   *ApplicationsAPIService
	closeCommand *CloseCommand
	xRemsApiKey  *string
	xRemsUserId  *string
}

func (r ApiApiApplicationsClosePostRequest) CloseCommand(closeCommand CloseCommand) ApiApiApplicationsClosePostRequest {
	r.closeCommand = &closeCommand
	return r
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsClosePostRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsClosePostRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsClosePostRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsClosePostRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsClosePostRequest) Execute() (*SuccessResponse, *http.Response, error) {
	return r.ApiService.ApiApplicationsClosePostExecute(r)
}

/*
ApiApplicationsClosePost Submit a `close` command for an application.  (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiApplicationsClosePostRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsClosePost(ctx context.Context) ApiApiApplicationsClosePostRequest {
	return ApiApiApplicationsClosePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SuccessResponse
func (a *ApplicationsAPIService) ApiApplicationsClosePostExecute(r ApiApiApplicationsClosePostRequest) (*SuccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SuccessResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsClosePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/close"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.closeCommand == nil {
		return localVarReturnValue, nil, reportError("closeCommand is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	// body params
	localVarPostBody = r.closeCommand
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiApplicationsCommandsGetRequest struct {
	ctx         context.Context
	ApiService  *ApplicationsAPIService
	xRemsApiKey *string
	xRemsUserId *string
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsCommandsGetRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsCommandsGetRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsCommandsGetRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsCommandsGetRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsCommandsGetRequest) Execute() ([]string, *http.Response, error) {
	return r.ApiService.ApiApplicationsCommandsGetExecute(r)
}

/*
ApiApplicationsCommandsGet List of application commands (roles: handler, organization-owner, owner, reporter)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiApplicationsCommandsGetRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsCommandsGet(ctx context.Context) ApiApiApplicationsCommandsGetRequest {
	return ApiApiApplicationsCommandsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []string
func (a *ApplicationsAPIService) ApiApplicationsCommandsGetExecute(r ApiApiApplicationsCommandsGetRequest) ([]string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsCommandsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/commands"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiApplicationsCopyAsNewPostRequest struct {
	ctx              context.Context
	ApiService       *ApplicationsAPIService
	copyAsNewCommand *CopyAsNewCommand
	xRemsApiKey      *string
	xRemsUserId      *string
}

func (r ApiApiApplicationsCopyAsNewPostRequest) CopyAsNewCommand(copyAsNewCommand CopyAsNewCommand) ApiApiApplicationsCopyAsNewPostRequest {
	r.copyAsNewCommand = &copyAsNewCommand
	return r
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsCopyAsNewPostRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsCopyAsNewPostRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsCopyAsNewPostRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsCopyAsNewPostRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsCopyAsNewPostRequest) Execute() (*CopyAsNewResponse, *http.Response, error) {
	return r.ApiService.ApiApplicationsCopyAsNewPostExecute(r)
}

/*
ApiApplicationsCopyAsNewPost Create a new application as a copy of an existing application. (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiApplicationsCopyAsNewPostRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsCopyAsNewPost(ctx context.Context) ApiApiApplicationsCopyAsNewPostRequest {
	return ApiApiApplicationsCopyAsNewPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CopyAsNewResponse
func (a *ApplicationsAPIService) ApiApplicationsCopyAsNewPostExecute(r ApiApiApplicationsCopyAsNewPostRequest) (*CopyAsNewResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CopyAsNewResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsCopyAsNewPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/copy-as-new"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.copyAsNewCommand == nil {
		return localVarReturnValue, nil, reportError("copyAsNewCommand is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	// body params
	localVarPostBody = r.copyAsNewCommand
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiApplicationsCreatePostRequest struct {
	ctx                      context.Context
	ApiService               *ApplicationsAPIService
	createApplicationCommand *CreateApplicationCommand
	xRemsApiKey              *string
	xRemsUserId              *string
}

func (r ApiApiApplicationsCreatePostRequest) CreateApplicationCommand(createApplicationCommand CreateApplicationCommand) ApiApiApplicationsCreatePostRequest {
	r.createApplicationCommand = &createApplicationCommand
	return r
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsCreatePostRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsCreatePostRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsCreatePostRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsCreatePostRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsCreatePostRequest) Execute() (*CreateApplicationResponse, *http.Response, error) {
	return r.ApiService.ApiApplicationsCreatePostExecute(r)
}

/*
ApiApplicationsCreatePost Create a new application (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiApplicationsCreatePostRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsCreatePost(ctx context.Context) ApiApiApplicationsCreatePostRequest {
	return ApiApiApplicationsCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CreateApplicationResponse
func (a *ApplicationsAPIService) ApiApplicationsCreatePostExecute(r ApiApiApplicationsCreatePostRequest) (*CreateApplicationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreateApplicationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createApplicationCommand == nil {
		return localVarReturnValue, nil, reportError("createApplicationCommand is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	// body params
	localVarPostBody = r.createApplicationCommand
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiApplicationsDecidePostRequest struct {
	ctx           context.Context
	ApiService    *ApplicationsAPIService
	decideCommand *DecideCommand
	xRemsApiKey   *string
	xRemsUserId   *string
}

func (r ApiApiApplicationsDecidePostRequest) DecideCommand(decideCommand DecideCommand) ApiApiApplicationsDecidePostRequest {
	r.decideCommand = &decideCommand
	return r
}

// REMS API-Key (optional for UI, required for API)
func (r ApiApiApplicationsDecidePostRequest) XRemsApiKey(xRemsApiKey string) ApiApiApplicationsDecidePostRequest {
	r.xRemsApiKey = &xRemsApiKey
	return r
}

// user (optional for UI, required for API). This can be a REMS internal or an external user identity attribute (specified in config.edn).
func (r ApiApiApplicationsDecidePostRequest) XRemsUserId(xRemsUserId string) ApiApiApplicationsDecidePostRequest {
	r.xRemsUserId = &xRemsUserId
	return r
}

func (r ApiApiApplicationsDecidePostRequest) Execute() (*SuccessResponse, *http.Response, error) {
	return r.ApiService.ApiApplicationsDecidePostExecute(r)
}

/*
ApiApplicationsDecidePost Submit a `decide` command for an application.  (roles: logged-in)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiApplicationsDecidePostRequest
*/
func (a *ApplicationsAPIService) ApiApplicationsDecidePost(ctx context.Context) ApiApiApplicationsDecidePostRequest {
	return ApiApiApplicationsDecidePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SuccessResponse
func (a *ApplicationsAPIService) ApiApplicationsDecidePostExecute(r ApiApiApplicationsDecidePostRequest) (*SuccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SuccessResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsAPIService.ApiApplicationsDecidePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/applications/decide"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.decideCommand == nil {
		return localVarReturnValue, nil, reportError("decideCommand is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/transit+msgpack", "application/transit+json", "application/edn"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xRemsApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-api-key", r.xRemsApiKey, "", "")
	}
	if r.xRemsUserId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-rems-user-id", r.xRemsUserId, "", "")
	}
	// body params
	localVarPostBody = r.decideCommand
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

[...]
